



<!doctype html>
<html lang="en">
    <head>
        <title>You Elect-Elections</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <style>
body
{
background-color:rgb(242, 242, 242);
}
h2
{
font-size:26px;
color:red;
}
h3
{
font-size:20px;
color:blue;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}


</style>
    </head>
        <body>
            <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">YouElect</a>
            </div>
         <ul class="nav navbar-nav">
          <li class="active"><a href="../home.html">Home</a></li>
          <li><a href="../conduct.html">Conduct</a></li>
          <li><a href="../signup/index.html">Sign Up</a></li>
          <li><a href="../login/index.html">Login In</a></li>
          <li><a href="../contact.html">Contact</a></li>
         </ul>
         </div>
         </nav>
         <h1 class="mt-4">Dashboard</h1>
         <p class="lead mb-3">Welcome <%= user.name %></p>
         <a href="/users/logout" class="btn btn-secondary">Logout</a>
         <center>

  
            <h3>Elections Going on : </h3>
            
            <h2><%= name1 %></h2><br>
        
        	<!--	
            <% for(var i=0; i < data.length; i++) { %>
            
            
           <p> <%= data[i] %></p>
           <button type="button" class="btn btn-dark" name=<%=data[i] %> >Cast Vote</button><br><hr>

			
           
            <% } %>
             -->
            <form method="POST" action="/vote">
                <% for(var i=0; i < data.length; i++) { %>
                 <!-- <input type="radio"  name="candid" value=<%= data[i] %>> <%= data[i] %><br> -->
                  <label class="radio-inline"><input type="radio" name="candid" value=<%= data[i] %>><%= data[i] %></label>

                <% } %>  
                <br><br>
                 <button type="submit" class="btn btn-dark" value="submit">Cast Vote</button><br><hr>

            
             </form> 
             <br>
             <div class="container">
             <h2>Real time results</h2>
              <p>You Elect - Elect Smart</p>            
             <table class="table table-hover">
                <thead>
               <tr>
               <th>Candidate</th>
               <th>Votes</th>
               
               </tr>
               </thead>
               <tbody>
             <% for(var i=0; i< results.length; i++) { %>
             <tr>

             <td><%= results[i] %></td>
             <td><%= votes[i] %></td>
              </tr>
             <% } %>  
             </tbody>
             </table>
             </div>



        </center>
    
</body>
</html>

        		
		